{% extends "base.html" %}

{% block titulopagina %}Listado Documentos{% endblock %}
{% block Contenido%}

<div>
<style type="text/css">
    table {
       border:1px solid black;
       border-collapse:separate;
       }
    th, td {
       border:1px solid black;
       }
 </style>

 <table>

  <caption>Resultados</caption>

    <thead>
        <tr>
           <th>Nombre</th>
           <th>Tipo Documento</th>
           <th>Código</th>
           <th>Fecha de Publicación</th>
           <th>Vigencia</th>
            <th>Otras Versiones</th>
           <th>Documento En Discución</th>
            <th>Link De Descarga</th>
         </tr>
    </thead>

    <tfoot>
        <tr>
           <td colspan="8">Documentos Disponibles</td>
        </tr>
    </tfoot>

    <tbody>
        {% for documento in Documentos%}
        <tr>
           <td>{{ documento.nombre }}</td>
           <td>{{ documento.tipo}}</td>
           <td>{{ documento.codigo }}</td>
            <td>{{ documento.fechaPublicacion }}</td>
           <td>{{ documento.vigencia }}</td>
           <td>{{ documento.otrasVersiones }}</td>
           <td>{{ documento.discusion }}</td>
           <td><a href="{{ documento.url }}">Descarga </a> </td>
        </tr>
        {% endfor %}

    </tbody>

 </table>


</div>




{% endblock %}