{% extends "base.html" %}
{% block titulopagina %}Formulario de consulta Pública de Estánderes del SGC{% endblock %}

{% block Contenido%}
<p> Este formulario está diseñado para que los usuarios de los estándares tanto del SGC como externos al SGC puedan hacer observaciones o contribuciones que consideren al respectivo estándar, antes de que el mismo sea acogido y oficializado.
El diligenciamiento por parte de los usuarios y la respectiva evaluación por parte del grupo de estándares es una etapa clave en el proceso de consulta pública.</p>

    <form method="post">
       {% csrf_token %}
       {{form.as_p}}
       <input type="submit" value="Enviar">
    </form>

{% endblock %}